$breakpoints: ( 'mobile': (max-width: 410px), //320 - 410px
'extra-small': (max-width: 576px), //xs
'small': (min-width: 576px), //sm
'max-small':(max-width: 767.5px), //md
'medium':(min-width: 768px), //md
'large': (max-width: 992px), //lg
'huge': (min-width: 1200px), //huge
);
/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if( type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query) );

        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
    }
}


//using  @include respond-to('medium') {.........}

// .visible-small {
//     display: none;
//     @include respond-to('small') {
//         display: block;
//     }
// }

// .visible-medium {
//     display: none;
//     @include respond-to('medium') {
//         display: block;
//     }
// }

// .hidden-small {
//     display: block;
//     @include respond-to('small') {
//         display: none;
//     }
// }

// .hidden-medium {
//     display: none;
//     @include respond-to('medium') {
//         display: block !important;
//     }
// }

// .hidden-mobile {
//     display: none;
//     @include respond-to('mobile-420') {
//         display: block !important;
//     }
// }

// .hidden-large {
//     display: none;
//     @include respond-to('medium-large') {
//         display: block !important;
//     }
// }
