@import './base/_color.scss';
@import './_image.scss';
@import '/_grid.scss';

$size: 14px;
$fonttype: ( "small", "medium", "large");
@each $item in $fonttype {
  .icon-size-#{$item} {
    $index: index($fonttype, $item);
    font-size: (-1 + $index) *2 + $size;
  }
}

.dot-off {
  margin-top: 6px;
  height: 18px;
  width: 18px;
  background-color: $smoke;
  border-radius: 50%;
  display: inline-block;
}

.dot-on {
  margin-top: 6px;
  height: 18px;
  width: 18px;
  background-color: $green;
  border-radius: 50%;
  display: inline-block;
}

.icon-hotness {
  &-group {
    label {
      display: block;
      .normal-i {
        font-size: 2rem;
        padding-left: 5px;
        padding-right: 5px;
      }
      .normal-img {
        width: 36px;
        height: 36px;
        vertical-align: top;
      }
      .small-i {
        font-size: 1.5rem;
        padding-left: 1.25px;
        padding-right: 1.25px;
      }
      .small-img {
        width: 25px;
        height: 25px;
        vertical-align: top;
      }
      .ex-sm-i{
        font-size: 1rem;
        padding-left: 1.25px;
        padding-right: 1.25px;
      }
    }
  }
  
  color: $border;
  text-shadow: 1px 1px 1px $border;
  &.active {
    color: $red;
  }
}
