/*----////////////////////////////////////  TEXT HEADER ////////////////////////////////////---*/

.text-header {
    // line-height: 40px;
    // margin: 0;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // margin-top: 5px;

    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 10px;

    i {
        padding-right: 5px;
        font-size: 18px;
    }

    h4 {
        display: inline-block;
        margin-left: 5px;
    }

    span {
        font-size: 22px;
    }
}

.header-content {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}